

body, main{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#calculatorContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.buttonsRow{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

button{
    width: 60px;
    height: 60px;
}